<%= provide :title, 'Домашняя страница' %>
<h1>Введите логин и пароль от Вашего аккаунта Вконтакте.</h1>
<%= form_for :vk, url: vk_path do |f| %>
    <%= f.label 'Email' %>
    <br />
    <%= f.email_field :email, class: 'textinput' %>
    <br />
    <%= f.label 'Password' %>
    <br />
    <%= f.password_field :password, class: 'textinput' %>
    <br />
    <%= f.submit 'Submit' %>
<% end %>
<p>Создатель данного программного обеспечения гаранирует сохранность данных и анонимность. Исходный код этого
приложения находится в открытом доступе. Приложение не имеет базы данных, введенные Вами данные не будут сохранены и
доступны другим лицам. Исходный код доступен по <a href="https://bitbucket.org/starwars25/vkserverexample">ссылке</a>.</p>