<%= provide :title, 'Результаты' %>

<h1>Вот то, что мы нашли.</h1>
<%= link_to 'Назад', root_path %>
<table>
  <thead>
    <tr><td>ID</td>
    <td>Имя</td>
    <td>Фамилия</td></tr>
  </thead>
  <tbody>
    <%= sanitize @output %>
  </tbody>
</table>