// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 50%;
  margin: auto;
  font-family: Helvetica, sans-serif;
}
a {
  text-align: center;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  thead {
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    tr {
      border-bottom: 2px solid black;
    }
  }
  tbody {
    font-family: 'Source Code Pro', monospace;
    tr {
      border-bottom: 1px solid gray;
    }
  }
  margin-left: auto;
  margin-right: auto;
  td {
    padding: 5px;
  }
}

h1 {
  text-align: center;
}

form {
  width: 33%;
  margin: auto;
  .textinput {
    width: 100%;
    margin-bottom: 5px;
  }

}